.nav {
    top: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    width: 100%;
    background-color: white;
    
}

.hero{
    margin-top: 2%;
    float:right;
}

.nav .a1 {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 20px;
}

.nav .a1:hover:not(.active) {
    color:  #c67700;
    text-decoration: underline;
}
.logo img {
    height: 15%;
    width: 15%;
    float: left;
    margin-left:2%;
}
head{
    font-family: Arial, Helvetica, sans-serif;
}
.foop{
    text-align: justify;
}
body{
    margin-top: 6%;
    background-color: #020321;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
span{
    background: linear-gradient(90deg, #DABA43 0%,  #fcff9e 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
button {
    background-image: linear-gradient(90deg, #FCFF9E 0%, #DABA43 100%);
    text-align: center;
    display: inline-block;
    font-size: 150%;
    margin: 0.4% 0.2%;
    cursor: pointer;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 5%;
    padding-inline: 3%;
    border-radius: 35px;
    padding-block: 2%;
    border: none;
}

button:hover {
    background: none;
    border: 3px;
    border: solid white;
    color: white;
}
.first{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 5%;
    margin-left: 7%;
    margin-right: 7%;
}
.first1 {
  grid-column: 1 / span 2;  
}
.first1 h1{
    font-size: 400%;
}
.first1 p{
    font-size: 140%;
    opacity: 0.6;
}
.second{
    margin-top: 6%;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2%;
    margin-left: 7%;
    margin-right: 7%;
}
.second h1{
    font-size: 300%;
}
.second h2{
    font-size: 230%;
}
.second p{
    font-size: 120%;
}
.second1{
    text-align: left;
    background-color: #262D43;
    border-radius: 25px;
}
.second2{
    margin-left: 20%;
    margin-right: 20%;
    grid-column: 1 / span 2; 
}
.second2 p{
    text-align: justify;
}
.second1 img{
    width: 94%;
    margin: 3%;
}
.second1 h3{
    font-size: 180%;
    margin-left: 4%;
    margin-right: 4%;
}
.second1 h4{
    text-decoration: underline;
    font-size: 140%;
    margin-left: 4%;
    margin-right: 4%;
}
.second1 p{
    font-size: 100%;
    margin-left: 4%;
    margin-right: 4%;
}
.three{
    text-align: center;
    margin-top: 10%;
    margin-left: 7%;
    margin-right: 7%;
    
}
.three h1{
    font-size: 300%;
}
.three p{
    font-size: 120%;
}
.four h1{
    font-size: 300%;
}
.four p{
    font-size: 120%;
}
.three2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
}
.three1{
    background-color: #FEFFD433;
    border-radius: 25px;
    padding: 3%;
    margin-top: 4%;
    padding-bottom: 6%;
    padding-top: 6%;
}
.three1:hover{
    border: 1.5px solid white;
}
.three1 p{
    font-size: 100%;
}
.four{
    text-align: center;
    margin-top: 5%;
    margin-left: 7%;
    margin-right: 7%;
}
.five{
    text-align: center;
    background-image: linear-gradient(90deg, #C3AB51 0%, #777E96 100%);
    padding-top: 2%;
    margin-top: 5%;
    border-radius: 25px;
    margin-left: 7%;
    margin-right: 7%;
}
.five h1{
    font-size: 230%;
}
.five p{
    font-size: 120%;
    margin-top: 3%;
}
footer{
    background-image: linear-gradient(90deg,hsla(70, 13%, 53%, 0.652) 0%, #777E96 100%);
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 4%;
    color: #ffffffb5;
    padding-bottom: 4%;

}
.foo{
    grid-column: span 2;  
    padding-left: 5%; 
    padding-right: 5%; 
}
.fa{
    display: block;
    color: #ffffffb5;
    padding: 12px 16px;
    padding-left: 0;
    text-decoration: none;
    font-size: 18px;
}

.foo img{
    margin-right: 3%;
}

.fa:hover:not(.active) {
    text-decoration: underline;
}

.foo1{
    padding-left: 5%; 
    padding-right: 5%; 
}
.last{
    text-align: center;
    background-image: linear-gradient(90deg, #C3AB51 0%, #777E96 100%);
    margin-top: 0;
    padding: 1%;
}



.but {
    background-image: linear-gradient(90deg, #FCFF9E 0%, #DABA43 100%);
    text-align: center;
    display: inline-block;
    font-size: 150%;
    margin: 0.4% 0.2%;
    cursor: pointer;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 5%;
    padding-inline: 3%;
    border-radius: 35px;
    padding-block: 1%;
    border: none;
}

.but:hover {
    background: none;
    border: 3px;
    border: solid white;
    color: white;
}













/* ---------- FULL MOBILE RESPONSIVE STYLES ---------- */
@media (max-width: 900px) {
    /* Navbar horizontal layout */
    .nav {
        position: static;
        width: 100%;
        display: flex;
        flex-direction: row; /* horizontal */
        align-items: center;
        justify-content: space-between;
        background-color: white;
        padding: 2vw 4vw;
        box-sizing: border-box;
    }
    .logo {
        display: flex;
        align-items: center;
        margin-right: 3vw;
    }
    .logo img {
        width: 12vw;
        max-width: 60px;
        height: auto;
        margin: 0;
    }
    .nav .a1 {
        float: none;
        margin: 0 2vw;
        font-size: 2vw;
        display: inline-block;
        color: black;
        padding: 1vw 2vw;
        text-align: center;
        text-decoration: none;
    }
    .hero{
        margin: 0;
    }
    /* Body and general layout */
    body {
        margin-top: 18vw;
        font-size: 1em;
    }
    .first {
        display: flex;
        flex-direction: column;
        margin: 0 3%;
        padding-top: 8vw;
    }
    .first1 {
        grid-column: unset;
        order: 1;
        text-align: center;
    }
    .first1 h1 {
        font-size: 2em;
        margin-bottom: 1em;
    }
    .first1 p {
        font-size: 1em;
    }
    .first2 {
        order: 2;
        display: flex;
        justify-content: center;
    }
    .first2 img {
        width: 90vw;
        max-width: 400px;
    }

    .second {
        margin: 6vw 3vw 0 3vw;
        display: flex;
        flex-direction: column;
        gap: 2vw;
        text-align: center;
    }
    .second2 {
        margin: 0 auto 3vw auto;
        grid-column: unset;
    }
    .second1 {
        margin: 4vw 0;
        border-radius: 16px;
        padding: 2vw;
        background-color: #262D43;
    }
    .second1 img {
        width: 96vw;
        max-width: 400px;
        margin: 3vw auto;
        display: block;
    }
    .second1 h3, .second1 h4 {
        font-size: 1.2em;
    }
    .second1 p {
        font-size: 1em;
    }
    .three, .four, .five {
        margin: 6vw 2vw;
        text-align: center;
        padding: 2vw 0;
        border-radius: 16px;
    }
    .three2, .four .three2 {
        display: flex;
        flex-direction: column;
        gap: 3vw;
    }
    .three1 {
        margin: 2vw 0;
        padding: 3vw 2vw;
        border-radius: 16px;
        background-color: #FEFFD433;
    }
    .three1:hover {
        border: 1.5px solid white;
    }
    .three1 p {
        font-size: 1em;
    }
    .five h1 {
        font-size: 1.4em;
    }
    .five p {
        font-size: 1em;
    }
    footer {
        display: flex;
        flex-direction: column;
        gap: 2vw;
        padding: 4vw 2vw;
        font-size: 1em;
        background-image: linear-gradient(90deg, hsla(70, 13%, 53%, 0.652) 0%, #777E96 100%);
        margin-top: 5%;
        color: #ffffffb5;
    }
    .foo, .foo1 {
        padding: 0;
        margin-bottom: 2vw;
        border-radius: 10px;
        width: 100%;
    }
    .fa {
        font-size: 16px;
        padding: 8px 0;
    }
    .last {
        font-size: 0.95em;
        padding: 2vw;
        background-image: linear-gradient(90deg, #C3AB51 0%, #777E96 100%);
        margin-top: 0;
        text-align: center;
    }
    button,
    .but {
        font-size: 1em;
        margin: 0.8em 0.4em;
        padding: 0.6em 2em;
        border-radius: 25px;
        background-image: linear-gradient(90deg, #FCFF9E 0%, #DABA43 100%);
        border: none;
        cursor: pointer;
        display: inline-block;
        text-align: center;
    }
    button:hover,
    .but:hover {
        background: none;
        border: 3px solid white;
        color: white;
    }

    /* Responsive images site-wide */
    img {
        max-width: 100%;
        height: auto;
        display: block;
    }
    .first h1, .second h1, .three h1, .four h1 {
        font-size: 1.5em;
        margin: 0;
        margin-bottom: 2%;
        padding: 0;
    }
    .four2 h2{
        font-size: 1.2em;
    }
    .second ul, .second p, .three p, .four p, .five p, .first p , .foo p{
        font-size: 0.90em;
    }
}

/* Very small screens */
@media (max-width: 550px) {
    
    .logo img {
        width: 30vw;
        height: 6vw;
    }
    .hero{
        margin: 0;
    }
    .nav .a1 {
        font-size: 2.5vw;
        padding: 1.2vw 2vw;
        margin: 0 1vw;
    }
    .nav{
        margin-left: 0%;
    }
    .first1 h1{
        font-size: 2em;
    }
    .second h1, .three h1, .four h1 {
        font-size: 2em;
    }
    .second2 h2{
        font-size: 1.2em;
    }
    .three1 h2{
        font-size: 1.2em;
    }
    li{
        margin-left: 4%;
    }
    .second1 ul, .second1 p, .three1 p, .four p {
        font-size: 0.98em;
    }
    .five p{
        font-size: 0.98em;
        padding-inline: 2%;
    }
    button, .but {
        font-size: 0.98em;
        padding: 0.6em 1.2em;
    }
    .three img{
        margin-left: 42%;
    }
    body{
        margin: 0;
        padding: 0;
    }
    .first2{
        margin-top: 4%;
    }
}

.second1 img{
    width: 90%;
}