.nav {
    top: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    width: 100%;
    background-color: white;
    
}

.hero{
    margin-top: 2%;
    float:right;
}

.nav .a1 {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 20px;
}

.nav .a1:hover:not(.active) {
    color:  #c67700;
    text-decoration: underline;
}
.logo img {
    height: 15%;
    width: 15%;
    float: left;
    margin-left:2%;
}
head{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin-top: 6%;
    background-color: #020321;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
span{
    background: linear-gradient(90deg, #DABA43 0%,  #fcff9e 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
button {
    background-image: linear-gradient(90deg, #FCFF9E 0%, #DABA43 100%);
    text-align: center;
    display: inline-block;
    font-size: 150%;
    margin: 0.4% 0.2%;
    cursor: pointer;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 5%;
    padding-inline: 3%;
    border-radius: 35px;
    padding-block: 1%;
    border: none;
}

button:hover {
    background: none;
    border: 3px;
    border: solid white;
    color: white;
}
.five{
    text-align: center;
    background-image: linear-gradient(90deg, #C3AB51 0%, #777E96 100%);
    padding-top: 2%;
    margin-top: 5%;
    border-radius: 25px;
    margin-left: 7%;
    margin-right: 7%;
}
.five h1{
    font-size: 230%;
}
.five p{
    font-size: 120%;
    margin-top: 3%;
}
footer{
    background-image: linear-gradient(90deg,hsla(70, 13%, 53%, 0.652) 0%, #777E96 100%);
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 4%;
    color: #ffffffb5;
    padding-bottom: 4%;

}
.foo{
    grid-column: span 2;  
    padding-left: 5%; 
    padding-right: 5%; 
}
.fa{
    display: block;
    color: #ffffffb5;
    padding: 12px 16px;
    padding-left: 0;
    text-decoration: none;
    font-size: 18px;
}

.foo img{
    margin-right: 3%;
}

.fa:hover:not(.active) {
    text-decoration: underline;
}

.foo1{
    padding-left: 5%; 
    padding-right: 5%; 
}
.foop{
    text-align: justify;
}
.last{
    text-align: center;
    background-image: linear-gradient(90deg, #C3AB51 0%, #777E96 100%);
    margin-top: 0;
    padding: 1%;
}

.one{
    background-image: url('/static/images/p-1.png');
    text-align: center;
    background-size: 100%;

}
.one1{ 
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}
.one h1{
    font-size: 350%;
    margin-inline: 20%;
    padding-top: 5%;
}
.one p{
    text-align: justify;
    font-size: 120%;
    margin-inline: 30%;
    opacity: 0.8;
}
.two{
    margin-top: 5%;
    text-align: center;
    margin-inline: 7%;
}
.two h1{
    font-size: 300%;
}
.two p{
    font-size: 120%;
}
.two1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.two11{
    margin-block: 2%;
}

.t11{
    background-color: #262D43;
    border-radius: 25px;
    text-align: left;
    padding-inline: 5%;
    padding-block:2%;
    margin: 2%;
}
.t12{
    background-color: #262D43;
    border-radius: 25px;
    text-align: left;
    padding-inline: 5%;
    padding-block:1%;
    margin: 2%;
}
.three{
    text-align: center;
    background-image: linear-gradient(90deg, #C3AB51 0%, #777E96 100%);
    margin-inline: 7%;
    border-radius: 25px;
    padding-inline: 10%;
    padding-block: 1%;
    margin-block: 2%;
}

.three h2{
    font-size: 200%;
}
.three p{
    font-size: 120%;
    text-align: left;
}



.thr h1{
    margin-top: 3%;
    font-size: 300%;
}
.thr{
    text-align: center;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 3%;
}
.thr p{
    font-size: 120%;
}
.thr1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
    row-gap: 6%;
    padding-block: 3%;
    margin-left: 7%;
    margin-right: 7%;
}
.thr2{
    align-items: center;
    padding: 5%;
    background-color: #262D43;
    border-radius: 25px;
}
.thr2:hover{
    border: 1.5px solid #FCFF9E;
}

.six11{
    background-color: rgba(217, 217, 217, 0.2);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 4%;
}
.sixh{
    background-color: rgba(242, 233, 129, 1);
    padding: 1%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.one1{
    margin-top: 3%;
    padding-bottom: 2%;
}
.sixaa{
    text-decoration: none;
}
.six1 h3{
    font-size: 150%;
    text-align: center;
    color: #2d2d2d;
}
.six1 p{ 
    color: white;
    font-size: 120%;
    margin: 0;
    margin-inline: 2%;
    text-align: center;
    text-decoration: none;
    opacity: 1;
}
#p-1, #p-2, #p-3 {
  scroll-margin-top: 100px;
}

.six1{
    margin-inline: 4%;
}
.pp{
    grid-column: span 2;
}
.ppp{
    grid-column: span 3;
}

.new_pro {
    background-image: linear-gradient(90deg, #FCFF9E 0%, #DABA43 100%);
    text-align: center;
    display: inline-block;
    cursor: pointer;
    margin-top: 2%;
    margin-inline: 5%;
    margin-bottom: 5%;
    padding-inline: 3%;
    border-radius: 5px;
    padding-block: 1%;
    border: none;
}
.new_pro1 {
    background-image: linear-gradient(90deg, #FCFF9E 0%, #DABA43 100%);
    text-align: center;
    display: inline-block;
    cursor: pointer;
    margin-top: 12%;
    margin-inline: 5%;
    margin-bottom: 5%;
    padding-inline: 3%;
    border-radius: 5px;
    padding-block: 1%;
    border: none;
}







/* ---------- FULL MOBILE RESPONSIVE STYLES ---------- */
@media (max-width: 900px) {
    /* Navbar horizontal layout */
    .nav {
        position: static;
        width: 100%;
        display: flex;
        flex-direction: row; /* horizontal */
        align-items: center;
        justify-content: space-between;
        background-color: white;
        padding: 2vw 4vw;
        box-sizing: border-box;
    }
    .logo {
        display: flex;
        align-items: center;
        margin-right: 3vw;
    }
    .logo img {
        width: 12vw;
        max-width: 60px;
        height: auto;
        margin: 0;
    }
    .nav .a1 {
        float: none;
        margin: 0 2vw;
        font-size: 2vw;
        display: inline-block;
        color: black;
        padding: 1vw 2vw;
        text-align: center;
        text-decoration: none;
    }
    .hero{
        margin: 0;
    }
    /* Body and general layout */
    body {
        margin-top: 18vw;
        font-size: 1em;  
        margin: 0;
        padding: 0;
    }
    
    
    .three,  .five {
        margin: 6vw 2vw;
        text-align: center;
        padding: 2vw 0;
        border-radius: 16px;
    }
    .three2, .four .three2 {
        display: flex;
        flex-direction: column;
        gap: 3vw;
    }
    .three1 {
        margin: 2vw 0;
        padding: 3vw 2vw;
        border-radius: 16px;
        background-color: #FEFFD433;
    }
    .three1:hover {
        border: 1.5px solid white;
    }
    .three1 p {
        font-size: 1em;
    }
    .five h1 {
        font-size: 1.4em;
    }
    .five p {
        font-size: 1em;
    }
    footer {
        display: flex;
        flex-direction: column;
        gap: 2vw;
        padding: 4vw 2vw;
        font-size: 1em;
        background-image: linear-gradient(90deg, hsla(70, 13%, 53%, 0.652) 0%, #777E96 100%);
        margin-top: 5%;
        color: #ffffffb5;
    }
    .foo, .foo1 {
        padding: 0;
        margin-bottom: 2vw;
        border-radius: 10px;
        width: 100%;
    }
    .fa {
        font-size: 16px;
        padding: 8px 0;
    }
    .last {
        font-size: 0.95em;
        padding: 2vw;
        background-image: linear-gradient(90deg, #C3AB51 0%, #777E96 100%);
        margin-top: 0;
        text-align: center;
    }
    button,
    .but {
        font-size: 1em;
        margin: 0.8em 0.4em;
        padding: 0.6em 2em;
        border-radius: 25px;
        background-image: linear-gradient(90deg, #FCFF9E 0%, #DABA43 100%);
        border: none;
        cursor: pointer;
        display: inline-block;
        text-align: center;
    }
    button:hover,
    .but:hover {
        background: none;
        border: 3px solid white;
        color: white;
    }

    /* Responsive images site-wide */
    img {
        max-width: 100%;
        height: auto;
        display: block;
    }
    .one h1, .two h1, .three h1, .five h1 ,.t12 h2 ,.thr h1, .three h2, .thr2 h2{
        font-size: 1.4em;
    }
    ul, .one p, .two p, .three p, .five p {
        font-size: 0.98em;
        margin-top: 1%;
        margin-inline: 1%;
    }
    button, .but {
        font-size: 0.98em;
        padding: 0.6em 1.2em;
    }
    .three img{
        margin-left: 42%;
    }
    .two1{
        display: block;
    }
    .thr1{
        display: block;
    }
    .thr2{
        margin-top: 1%;
    }
}

/* Very small screens */
@media (max-width: 550px) {
    .logo img {
        width: 30vw;
        height: 6vw;
    }
    .hero{
        margin: 0;
    }
    .nav .a1 {
        font-size: 2.5vw;
        padding: 1.2vw 2vw;
        margin: 0 1vw;
    }
    .one h1, .two h1 {
        font-size: 2em;
        margin-inline: 2%;
    }
    .t12 h2 ,.thr h1, .three h2, .thr2 h2{
        font-size: 1.2em;
    }
    ul,.one p, .two p, .three p, .five p {
        font-size: 0.98em;
    }
    .one p{
        margin-inline: 4%;
    }
    button, .but {
        font-size: 0.98em;
        padding: 0.6em 1.2em;
    }
    .three img{
        margin-left: 42%;
    }
    .two1{
        display: block;
    }
    .thr1{
        display: block;
    }
    .thr2{
        margin-top: 1%;
    }
    .one1 h3{
        font-size: 100%;
    }
    .one1 p{
        font-size: 90%;
    }
    .six1{
        padding-block: 4%;
    }
    
    #p-1, #p-2, #p-3 {
        scroll-margin-top: 0px;
    }
    
    .one1{ 
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
    }
}

